body {
    background-color: #000;
    color: #fff;
}

/*Estilos al Nav Bar */

.navbar {
    background-color: transparent !important;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

#navigator a {
    color: #fff;
}

.icon {
    height: 35px;
    width: 35px;
}

.logo {
    align-items: center;
    display: flex;
    text-align: center;
}

.carousel {
    z-index: 0;
}

/* Seccion de quienes somos */

#quienes_somos i {
    display: flex;
    justify-content: center;
    background-color: #47d6db;
    padding: 5px;
}

/* sección de destacados */

#destacados img:nth-last-child(2){
    height: 190px;
}

.contact{
    height: 300px;
    background-color:#fff;
}

.card-body {
    background-color: #47d6db;
}


/* sección de contacto */
.btn {
    background-color: rgb(15, 4, 172);
    
}

/* footer  */

#footer {
    background-color: #47d6db;
    padding: 5px;
}

#footer a {
    color: #fff;
    margin: 0 10px;
}