body {
    background-color: #000;
    color: #fff;
}

/*Estilos al Nav Bar */

.navbar {
    background-color: transparent !important;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.carousel {
    z-index: 0;
}

/* Seccion de quienes somos */

#quienes_somos i {
    display: flex;
    justify-content: center;
    background-color: #47d6db;
    padding: 5px;
}

/* sección de destacados */
.card-body {
    background-color: #47d6db;
}
